[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-admin = "*"
flask-login = "*"
flask-debugtoolbar = "*"
flask-markdown = "*"
diffhtml = "*"
unidecode = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
psycopg2-binary = "*"
gunicorn = "*"
tqdm = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
