bcrypt==3.1.2
cffi==1.9.1
click==6.6
Flask==0.12
Flask-Admin==1.4.2
Flask-Login==0.4.0
Flask-Markdown==0.3
itsdangerous==0.24
Jinja2==2.8.1
Markdown==2.6.7
MarkupSafe==0.23
pycparser==2.17
six==1.10.0
SQLAlchemy==1.1.4
Unidecode==0.4.19
Werkzeug==0.11.15
WTForms==2.1
