/*table { border-collapse: collapse; }

td { border: 1px solid #aaa; padding: 2px 6px 2px 6px; }
thead td { font-weight: bold; }

*/

body {padding-top: 70px;}
td {white-space: nowrap;}
thead tr {background: #eee;}
.container-fluid {margin-left: 32px; margin-right: 32px;}
.table-terms {max-width: 100%;}
.td-suggestions {width: 100%; overflow: hidden;
    white-space: normal;}
.suggestions { overflow: hidden; text-overflow: ellipsis;
  height: 1.5em; 
  line-height: 1.25;}


.table-terms td a {color: inherit;}
.table-terms td a {color: inherit;}

.table-data {}

.term-info {font-size: larger;}
.term-info dd {font-size: 28px;}

dt {}
dd {margin-left: 32px;}

.suggestions {margin: 0; padding: 0; list-style: none;}
.suggestions li {margin: 0px 4px 0px 4px; padding: 0px 8px 1px 8px; border: 1px solid #ccc; display: inline-block;
    border-radius: 10px;}

.vote-buttons {float: right;}
.vote-buttons form {display: inline;}
.vote-buttons .dropdown-menu {padding: 6px;}
.vote-buttons .dropdown-menu li {margin-bottom: 6px;}

.vote-sign {padding-right: 3px; color: red; }

/* .suggestion-user {float: right;} */

.comment-form input {width: 100%;}
.comment-form input {display: inline-block; margin: 4px;}

.comments .panel {margin-top: 4px; margin-bottom: 5px; }
.comments .panel-body {padding: 3px 4px 0px 7px; }
.comments .panel-body p {text-indent: 8px;}

.icon {vertical-align: middle;}

/*
.vote-buttons .glyphicon-star { color: #dd0; }
.vote-buttons .glyphicon-heart { color: #e00; }
*/

.tr-link {cursor: pointer;}
.tr-link:hover {background: #f2f2ff;}

footer {text-align: right; margin-right: 32px;}

textarea {width: 100%; min-height: 6em;}

.locked-info {text-align: center; padding: 32px; border-radius: 32px;
    background: #eee; margin: 32px;}
.locked-icon {font-size: 64px;}

.rating-completion {text-align: center; width: 80%; margin: 2px auto 8px auto;}
.rating-completion .progress {margin-top: 4px; margin-bottom: 4px !important;}

.category-item .rating-completion {
    float: left; width: 128px; margin-right: 12px;
    min-height: 32px;}

@media (max-width: 500px) {
    .suggestion-text {clear: both;}
    .locked-info {padding: 16px;  margin: 16px;}
}






