/*table { border-collapse: collapse; }

td { border: 1px solid #aaa; padding: 2px 6px 2px 6px; }
thead td { font-weight: bold; }

*/
.clear {clear: both;}

body {padding-top: 70px;}
td {white-space: nowrap;}
thead tr {background: #eee;}
.container-fluid {margin-left: 32px; margin-right: 32px;}
.table-terms {max-width: 100%;}
.td-suggestions {width: 100%; overflow: hidden;
    white-space: normal;}
.suggestions { overflow: hidden; text-overflow: ellipsis;
  height: 1.5em; 
  line-height: 1.25;}
.suggestion li {white-space: nowrap;}

.td-unrated-icon {border-right: 0 !important; padding-right: 1px !important;}
.td-num {border-left: 0 !important; padding-left: 1px !important;}

.td-bar .count {display: inline-block; width: 42px;}
.td-bar .rating-completion {display: inline-block; vertical-align: middle; margin: 0;}

.lock-icon {margin-left: 8px;}

.table-terms td a {color: inherit;}
.table-terms td a {color: inherit;}

.table-data th, td {padding: 2px !important;}

.diff {line-height: 1.4;}
.diff del {text-decoration: none; background-color: #fdd;}
.diff del del {text-decoration: line-through; background-color: #faa;}
.diff ins {text-decoration: none; background-color: #dfd;}
.diff ins ins {text-decoration: underline; background-color: #afa;}

/*.pager-dialogue li {width: 100%; display: block;}*/
.dialogue-suggestion-text {padding: 2px; padding-top: 4px; line-height: 1.4; clear: both;}
.dialogue-suggestion-diff {padding: 2px; padding-top: 4px; line-height: 1.4; clear: both;}
.dialogue-suggestion-diff {display: none;}
.new-revision-form #text {width: 100%; line-height: 1.4; font-size: 18px; padding: 4px;}

.term-info {font-size: larger;}
.term-info dd {font-size: 28px;}
.term-info-dialogue dd {font-size: 24px;}
.term-info-dialogue.term-info-jp dt {font-size: smaller;}
.term-info-dialogue.term-info-jp dd {font-size: smaller;}

dt {}
dd {margin-left: 32px;}

.references {padding-left: 16px; margin-bottom: 2px;}
.table-data {display: none;}
.extra-referenced, .extra-references {display: none;}
#potentially-referenced {display: none;}

.suggestions {margin: 0; padding: 0; list-style: none;}
.suggestions li {margin: 0px 4px 0px 4px; padding: 0px 8px 1px 8px; border: 1px solid #ccc; display: inline-block;
    border-radius: 10px;}

.controls {float: right;}
.controls form {display: inline;}
.controls .dropdown-menu {padding: 6px;}
.controls .dropdown-menu li {margin-bottom: 6px;}
.suggestion-status {float: right; margin-right: 6px;}
.conflicts {text-align: right;}
.conflicts a {color: #500; text-decoration: none;}
.conflicts .tooltip {white-space: nowrap; font-size: inherit;}

.vote-sign {padding-right: 3px; color: red; }

/* .suggestion-user {float: right;} */

.suggestion-approved {background: #fff;}
.suggestion-candidate {background: #ffc; border-color: #cca !important;}
.suggestion-final {background: #cfc; border-color: #aca !important;}

.badge-status-candidate {background: #883;}
.badge-status-final {background: #383;}

.comment-form input {width: 100%;}
.comment-form input {display: inline-block; margin: 4px;}

.comments .panel {margin-top: 4px; margin-bottom: 5px; }
.comments .panel-body {padding: 3px 4px 0px 7px; }
.comments .panel-body p {text-indent: 8px;}

.icon {vertical-align: middle;}


.tr-link {cursor: pointer;}
.tr-link:hover {background: #f2f2ff;}

footer {text-align: right; margin-right: 32px;}

textarea {width: 100%; min-height: 6em;}

.comment-datetime {float: right;}

.locked-info {text-align: center; padding: 32px; border-radius: 32px;
    background: #eee; margin: 32px;}
.locked-icon {font-size: 64px;}

.rating-completion {text-align: center; width: 80%; margin: 2px auto 8px auto;}
.rating-completion .progress {margin-top: 4px; margin-bottom: 4px !important;}

.category-item .rating-completion {
    float: left; width: 128px; margin-right: 12px;
    min-height: 26px;}

.badge-negative { background: #933; border-radius: 100% 0 0 100%; margin-right: 0;}
.badge-positive { background: #393; border-radius: 0 100% 100% 0; margin-left: 0;}

.quality {width: 12px; height: 12px; vertical-align: middle; border-radius: 8px; display: inline-block;
    border: 1px solid #888;}

@media (max-width: 500px) {
    .container-fluid {margin-left: 16px; margin-right: 16px;}
    .suggestion-text {clear: both;}
    .locked-info {padding: 16px;  margin: 16px;}
}

@media (max-width: 400px) {
    .container-fluid {margin-left: 4px; margin-right: 4px;}
    .category-item .rating-completion {
        width: 96px;
    }
}





