{% from '_macros.html' import unrated_icon with context -%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ g.sitename }} » {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    
    <script>
        $('.dropdown-toggle').dropdown()
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=" {{ url_for('index') }} ">{{ g.sitename }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('recent') }}">Poslední změny</a>
                    {% if current_user.is_authenticated and current_user.admin %}
                        <li><a href="{{ url_for('admin.index') }}">Administrace</a>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">
                            Odhlásit <strong>{{ current_user.username }}</strong>
                        </a>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Přihlásit se</a>
                        <li><a href="{{ url_for('register') }}">Registrovat</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{message.category or 'info'}}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
        
    </div>


</body>
</html>
