{% from '_macros.html' import
    unrated_icon, ago, completion_bar, quality_color, quality_badge,
    term_short
with context -%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ g.sitename }} » {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=" {{ url_for('index') }} ">{{ g.sitename }}</a>
                <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('recent') }}">Poslední změny</a>
                    <li><a href="{{ url_for('users') }}">Seznam uživatelů</a>
                    {% if current_user.is_authenticated and current_user.admin %}
                        <li><a href="{{ url_for('admin.index') }}">Administrace</a>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">
                            Odhlásit <strong>{{ current_user.username }}</strong>
                        </a>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Přihlásit se</a>
                        <li><a href="{{ url_for('register') }}">Registrovat</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{message.category or 'info'}}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
    
    </div>
    
    <footer>
        <p>Nový obsah je licencovaný pod <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
        <p>Zdrojový kód je na <a href="https://github.com/Sanqui/prekapavac">GitHubu</a>.
    </footer>

    
    <script>
        $('.dropdown-toggle').dropdown();
        
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        
        $('.tr-link').on("click", function() {
            document.location = $(this).data('href');
        });
        
        // ok i really really hate jquery
        
        $('.button-diff').each(function(i, button) {
            var suggestion_id = $(button).data("suggestion-id");
            $(button).click(function(){
                console.log("diff "+suggestion_id)
                $("#suggestion-"+suggestion_id+"-text").toggle();
                $("#suggestion-"+suggestion_id+"-diff").toggle();
            })
        })
        
        $('.vote-form').each(function(i, form) {
            $(form).find("button").each(function(i, button) {
                $(button).click(function(e) {
                    suggestion_id = $(form).serializeArray()[0].value; // hopefully
                    vote = $(button).attr('value');
                    console.log("voting "+vote+" on " + suggestion_id);
                    
                    $("#unrated-icon-"+suggestion_id).hide();
                    for (v=0; v<3; v++) {
                        vote_btn = $("#suggestion-"+suggestion_id+"-vote-"+v);
                        console.log(vote_btn);
                        if (v == vote) {
                           vote_btn.addClass("active");
                        } else {
                           vote_btn.removeClass("active");
                        }
                    }
                    
                    $.ajax({
                        url: $(form).attr("action"),
                        type: "POST",
                        data: $(form).serialize() + "&vote=" + $(button).attr('value'),
                        success: function(data, status, jqXHR){
                            console.log("ok vote "+vote+" on " + suggestion_id);
                            
                        },
                        error: function(jqXHR, status, error) {
                            console.log("fail: " + error);
                            for (v=0; v<3; v++) {
                                vote_btn = $("#suggestion-"+suggestion_id+"-vote-"+v);
                                vote_btn.removeClass("active");
                            }
                        }
                    });
                    e.preventDefault();
                });
            });
        });
    </script>

</body>
</html>
