{# !!! #}
{# remember to add an import to _base.html #}
{# !!! #}

{% macro unrated_icon(suggestion, left=False) %}
    {% if suggestion == True or
        (current_user.is_authenticated and not g.db.Vote.from_for(current_user, suggestion)) %}
        <span class="glyphicon
            {{ "glyphicon-hand-right" if not left else "glyphicon-hand-left" }}
        vote-sign" id="unrated-icon-{{ suggestion.id }}"></span>
    {% endif %}
{% endmacro %}

{% macro ago(d) %}
    <span title="{{ datetime(d) }}">
        {% if d %}
            {% with diff = g.now - d %}
                {% if diff.days < 0 %}
                    {% if diff.days < -6 %}
                        {{ datetime(d) }}
                    {% elif diff.days < -2 or (diff.days == -2 and g.tomorrow.day != d.day) %}
                        {% if   d.weekday() == 0 %} monday
                        {% elif d.weekday() == 1 %} tuesday
                        {% elif d.weekday() == 2 %} wednesday
                        {% elif d.weekday() == 3 %} thursday
                        {% elif d.weekday() == 4 %} friday
                        {% elif d.weekday() == 5 %} saturday
                        {% elif d.weekday() == 6 %} sunday
                        {% endif %}
                        {{ datetime(d, "%H:%M")}}
                    {% elif diff.seconds < 60*60*24 and g.tomorrow.day == d.day %}
                        tomorrow {{datetime(d,"%H:%M")}}
                    {% else %}
                        today {{datetime(d,"%H:%M")}}
                    {% endif %}
                {% elif diff.days == 0 %}
                    {% if   diff.seconds < 10 %}      now
                    {% elif diff.seconds < 60 %}      {{diff.seconds}} seconds ago
                    {% elif diff.seconds < 120 %}     a minute ago
                    {% elif diff.seconds < 3600 %}    {{diff.seconds//60}} minutes ago
                    {% elif diff.seconds < 7200 %}    an hour ago
                    {% elif diff.seconds < 86400 and g.now.day == d.day %}
                        {{diff.seconds//3600}} hours ago
                    {% else %}
                        yesterday {{datetime(d,"%H:%M")}}
                    {% endif %}
                {% else %}
                    {% if diff.seconds < 86400*2 and g.yesterday.day == d.day and diff.days < 2 %}
                        yesterday {{datetime(d,"%H:%M")}}
                    {% else %}
                        {{datetime(d,"%Y-%m-%d  %H:%M")}}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% else %}
            -
        {% endif %}
    </span>
{% endmacro %}

{% macro completion_bar(category=None, bar_only=False, user=None) %}
    {% if current_user.is_authenticated %}
        {% set user = current_user if not user else user %}
        {% if category %}
            {% set rated = category.count_suggestions(user) %}
            {% set total = category.count_suggestions() %}
        {% else %}
            {% set rated = g.db.count_global_suggestions(user) %}
            {% set total = g.db.count_global_suggestions() %}
        {% endif %}
        <div class="rating-completion">
            {% if total %}
            {% set percentage = round(rated / total * 100) %}
            {% set percentage = 99 if (percentage == 100 and rated != total) else percentage %}
                {% if not bar_only %}
                    You've rated: {{ rated }} / {{ total }}
                {% endif %}
                <div class="progress">
                    <div class="progress-bar" style="width: {{ percentage }}%;">
                        {{ percentage }}%
                    </div>
                </div>
                {% if not bar_only %}
                    {% if rated == total %}
                        Good job!
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro quality_color(quality) %}
    hsl(57.6, 100%, {{quality * 100 / 2}}%)
{% endmacro %}

{% macro quality_badge(suggestion) %}
    {% if suggestion.quality != None %}
        <span class="quality"
            style="background-color: {{quality_color(suggestion.quality)}}"
            data-toggle="tooltip" data-placement="bottom"
            title="{{round(suggestion.quality*100)}}%"></span>
    {% endif %}
{% endmacro %}

{% macro term_short(term) -%}
    {%- if term.dialogue -%}
        {{ term.text_en | truncate(32) }}
    {%- else -%}
        {{ term.text_en }}
    {%- endif -%}
{%- endmacro %}

{% macro glyphicon(name, title) -%}
    <span class='glyphicon glyphicon-{{name}}' title='{{title}}'></span>
{%- endmacro %}
