{% extends "_base.html" %}

{% block title %} {{ project.name }} » {{ category.name }} {% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ g.sitename }}</a>
        <li><a href="{{ project.url }}">{{ project.name }}</a>
        <li class="active">{{ category.name }}
    </ol>
    <h2>{{ category.name }}
        {% if category.hidden %}
            <span class="badge badge-default">skrytá kategorie</span>
        {% endif %}
        {% if current_user.is_authenticated and current_user.admin %}
            <a href="{{url_for('category.edit_view', id=category.id, url=category.url)}}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        {% endif %}
    </h2>
    
    <p> {{ category.description | markdown }}
    
    {{ completion_bar(category) }}
    
    {% set mainly_dialogue = category.mainly_dialogue %}
    
    <table class="table table-bordered table-terms {% if mainly_dialogue %}table-dialogue{% endif %}">
        <thead>
            <tr>
                <td></td>
                <td>#</td>
                <td>en</td>
                {% if not mainly_dialogue %}
                    <td>jp</td>
                    <td>návrhy</td>
                {% else %}
                    <td>překlad</td>
                {% endif %}
            </tr>
        <tbody>
            {% for term in terms %}
                    <tr class="tr-link" data-href="{{ term.url }}">
                        <td class="td-unrated-icon">
                            {% if current_user.is_authenticated and term.user_has_unrated(current_user) %}
                                {{ unrated_icon(True) }}
                            {% endif %}
                        </td>
                        <td class="td-num">
                            <a href="{{ term.url }}">#{{ term.number }}</a>
                        </td>
                        <td class="td-en">
                            <span><a href="{{ term.url }}">{{ term.text_en }}</a></span>
                        </td>
                        {% if not mainly_dialogue %}
                            <td class="td-jp">
                                <a href="{{ term.url }}">{{ term.text_jp }}</a>
                            </td>
                        {% endif %}
                        <td class="td-suggestions {% if term.dialogue %}td-translation{%endif%}">
                            {% if term.locked %}
                                <span class="glyphicon glyphicon-lock lock-icon"></span>
                            {% else %}
                                {% if not term.dialogue %}
                                    <ul class="suggestions">
                                        {% for suggestion, score in term.suggestions_w_score %}
                                            <li class="suggestion-{{suggestion.status.name}}">
                                                {{ unrated_icon(suggestion) }}
                                                {{ suggestion.text }}
                                        {% endfor %}
                                    </li>
                                {% else %}
                                    <span>{{ term.latest_revision.text }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    </td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
