{% extends "_base.html" %}

{% block title %} {{ project.name }} » {{ category.name }} {% endblock %}

{% block content %}

    <h2>{{ project.name }}</h2>
    <h3>{{ category.name }}</h3>
        
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>num</td>
                <td>en</td>
                <td>jp</td>
                <td>návrhy</td>
            </tr>
        <tbody>
            {% for term in category.terms %}
                <tr>
                    <td>{{ term.number }}</td>
                    <td>{{ term.text_en }}</td>
                    <td>{{ term.text_jp }}</td>
                    <td class="td-suggestions"></td>
                </td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
