{% extends "_base.html" %}

{% block title %} {{ project.name }} » {{ category.name }} {% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ g.sitename }}</a>
        <li><a href="{{ project.url }}">{{ project.name }}</a>
        <li class="active">{{ category.name }}
    </ol>
    <h2>{{ category.name }}</h2>
    
    <p> {{ category.description }}
        
    <table class="table table-bordered table-terms">
        <thead>
            <tr>
                <td>num</td>
                <td>en</td>
                <td>jp</td>
                <td>návrhy</td>
            </tr>
        <tbody>
            {% for term in category.terms %}
                    <tr>
                        <td>
                            <a href="{{ term.url }}">#{{ term.number }}</a>
                        </td>
                        <td>
                            <a href="{{ term.url }}">{{ term.text_en }}</a>
                        </td>
                        <td>
                            <a href="{{ term.url }}">{{ term.text_jp }}</a></td>
                        <td class="td-suggestions">
                            <ul class="suggestions">
                                {% for suggestion, score in term.suggestions_w_score %}
                                    <li>
                                        {% if current_user.is_authenticated and not g.db.Vote.from_for(current_user, suggestion) %}
                                            <span class="glyphicon glyphicon-hand-right vote-sign"></span>
                                        {% endif %}
                                        {{ suggestion.text }}
                                {% endfor %}
                            </li>
                        </td>
                    </td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
