{% extends "_base.html" %}

{% block title %}index{% endblock %}

{% block content %}

    <!--
        <ol class="breadcrumb">
            <li class="active">{{ g.sitename }}
        </ol>
    -->
    
    <p>Welcome in Překapávač, Spaceworld edition.  If you encounter any Czech, let Sanqui know.
    
    {% for project in projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ project.name }}</h2>
            </div>
            <div class="panel-body">
                <p>{{ project.description | markdown }}
                {{ completion_bar(project) }}
                <div class="list-group">
                    {% for category in project.categories %}
                        {% if not category.hidden %}
                            <a href="{{ category.url }}" class="list-group-item category-item">
                                {{ completion_bar(category, bar_only=True) }}
                                <h4 class="list-group-item-heading">
                                    {{ category.name }}
                                </h4>
                                <p class="list-group-item-text">
                                    {% for t in category.terms[0:3] -%}
                                        {{- term_short(t) -}}
                                        {%- if not loop.last %}, {% endif -%}
                                    {% endfor -%}
                                    ... celkem <strong>{{ category.terms|length }}</strong>
                                    {% if category.mostly_dialogue %}
                                        dialogů
                                    {% else %}
                                        termínů
                                    {% endif %}
                                </p>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
