{% extends "_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2><a href="{{url_for('login')}}">Login</a></h2>
        {{ form.error }}
    {% if form.errors %}
        <ul>
            {% for error in form.errors %}
                <li>{{ error }}
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        <dl>
        <dt>Username:</dt>  <dd>{{form.username}}</dd>
        <dt>Password:</dt>     <dd>{{form.password}}</dd>
        </dl>
        {{form.submit}}
    </form>
    {% if failed %}
        <p class="fail">Wrong username or password.
    {% endif %}
{% endblock %}

