{% extends "_base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h2>Registration</h2>
    <p>To register, it's necessary to know the key, which you can learn e.g. from the website administrator.
    <form method="POST">
        <dl>
        <dt>Username:</dt>      <dd>{{form.username}}</dd>
        <dt>Password:</dt>      <dd>{{form.password}}</dd>
        <dt>Password again:</dt><dd>{{form.confirm_password}}</dd>
        <dt>Email:</dt>         <dd>{{form.email}}</dd>
        <dt>Key:</dt>          <dd>{{form.key}}</dd>
        </dl>
        {{form.submit}}
    </form>
    {% if failed %}
        <p class="fail">Wrong username or password.
    {% endif %}
{% endblock %}

