{% extends "_base.html" %}

{% block title %} {{ project.name }} » {{ category.name }} » {{ term_short(term) }} {% endblock %}

{% block content %}
    
    <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ g.sitename }}</a>
        <li><a href="{{ project.url }}">{{ project.name }}</a>
        <li><a href="{{ category.url }}">{{ category.name }}</a>
        <li class="active">{{ term_short(term) }}
    </ol>
    <ul class="pager {% if term.dialogue %}pager-dialogue{% endif %}">
        <li class="previous">
            {% if term.prev %}
                <a href="{{ term.prev.url }}">
                    <span aria-hidden="true">&larr;</span>
                    #{{ term.prev.number }} {{ term_short(term.prev) }}
                    {% if current_user.is_authenticated and term.prev.user_has_unrated(current_user) %}
                        {{ unrated_icon(True, left=True) }}
                    {% endif %}
                </a>
            {% endif %}
        <li>
            {% if term.category.icon %}
                <img src="{{ term.category.icon.filled_url(term) }}" class="icon">
            {% endif %}
            #{{ term.number }}
            <strong>{{ term_short(term) }}</strong>
        <li class="next">
            {% if term.next %}
                <a href="{{ term.next.url }}">
                    {% if current_user.is_authenticated and term.next.user_has_unrated(current_user) %}
                        {{ unrated_icon(True) }}
                    {% endif %}
                    #{{ term.next.number }} {{ term_short(term.next) }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            {% endif %}
    </ul>
    <!--
    <h2>{{ term.text_en }}</h2>
    -->
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default btn-sm" id="show-metadata-button">Ukaž metadata</button>
            <table class="table table-condensed table-data">
                <tr>
                    <th scope="row">Číslo</th>
                    <td>#{{ term.number }}</td>
                </tr>
                    <th scope="row">Identifier</th>
                    <td>{{ term.identifier }}</td>
                </tr>
                {% if term.label %}
                    <tr>
                        <th scope="row">Label</th>
                        <td>{{ term.label or "(None)" }}</td>
                    </tr>
                {% endif %}
                {% if current_user.admin %}
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <div class="col-md-2">
                                    <form method="POST">
                                        <input type="hidden" name="action" value="lock">
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-10">
                                    <a href="{{url_for('term.edit_view', id=term.id, url=term.url)}}" class="btn btn-default btn-block btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </div>
                            </div>
                            <a href="{{url_for('reference.create_view', term0_id=term.id)}}"
                                class="btn btn-default btn-block btn-xs">Přidat referenci</a>
                        </td>
                    </tr>
                {% endif %}
            </table>
            {% set speakers = term.references_of_type("speaker") %}
            {% if speakers %}
                <div>
                    <strong>Mluvčí:</strong>
                    {% for reference in speakers %}
                        <a href="{{reference.term1.url}}">{{ term_short(reference.term1) }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% set locations = term.references_of_type("location") %}
            {% if locations %}
                <div>
                    <strong>Umístění:</strong>
                    {% for reference in locations %}
                        <a href="{{reference.term1.url}}">{{ term_short(reference.term1) }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% set references = term.references %}
            {% if references %}
                <div>
                    <strong>Referencuje</strong>
                    <ul class="references">
                        {% for reference in references[0:3] %}
                            <li><a href="{{reference.term1.url}}">{{ term_short(reference.term1) }}</a>
                        {% endfor %}
                        {% if (references|length) > 3 %}
                            <li><button class="btn btn-default btn-xs"
                                id="all-references-button">Ukaž všech {{references|length}}</button>
                        {% endif %}
                        {% for reference in references[3:] %}
                            <li class="extra-references">
                                <a href="{{reference.term1.url}}">{{ term_short(reference.term1) }}</a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% set referenced = term.referenced %}
            {% if referenced %}
                <div>
                    <strong>Je referencován</strong>
                    <ul class="references">
                        {% for reference in referenced[0:3] %}
                            <li><a href="{{reference.term0.url}}">{{ term_short(reference.term0) }}</a>
                        {% endfor %}
                        {% if (referenced|length) > 3 %}
                            <li><button class="btn btn-default btn-xs"
                                id="all-referenced-button">Ukaž všech {{referenced|length}}</button>
                        {% endif %}
                        {% for reference in referenced[3:] %}
                            <li class="extra-referenced">
                                <a href="{{reference.term0.url}}">{{ term_short(reference.term0) }}</a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% set potentially_referenced = term.potentially_referenced %}
            {% if potentially_referenced %}
                <div>
                    <button class="btn btn-default btn-xs"
                      id="potentially-referenced-button">
                          Ukaž {{potentially_referenced|length}} potenciálně ref.
                    </button>
                    <div id="potentially-referenced">
                        <strong>Je potenciálně referencován</strong>
                        <ul class="references">
                            {% for term in term.potentially_referenced %}
                                <li><a href="{{term.url}}">{{ term_short(term) }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% set as_speaker = term.referenced_of_type("speaker") %}
            {% if as_speaker %}
                <div>
                    <strong>Je mluvčím</strong>
                    <ul class="references">
                        {% for reference in as_speaker[0:3] %}
                            <li><a href="{{reference.term0.url}}">{{ term_short(reference.term0) }}</a>
                        {% endfor %}
                        {% if (as_speaker|length) > 3 %}
                            <li><button class="btn btn-default btn-xs"
                                id="all-as-speaker-button">Ukaž všech {{as_speaker|length}}</button>
                        {% endif %}
                        {% for reference in as_speaker[3:] %}
                            <li class="extra-as-speaker">
                                <a href="{{reference.term0.url}}">{{ term_short(reference.term0) }}</a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row">
                {% if term.dialogue %}
                    <div class="text-controls">
                        <button id="show-original-text-button"
                            class="btn btn-default">
                            <span class="glyphicon glyphicon-text-width"></span>
                        </button>
                    </div>
                {% endif %}
                <div class="{% if not term.dialogue %}col-md-6{% endif %}">
                    <dl class="term-info {% if term.dialogue %}term-info-dialogue{% endif %}">
                        <dt>Anglicky:</dt>
                            <dd id="dd-text-en">{{ term.text_en }}</dd>
                    </dl>
                    {% if not term.dialogue %}
                        <a href="https://slovnik.seznam.cz/en-cz/?q={{term.text_en}}">Seznam Slovník</a>
                        &bull; <a href="https://translate.google.com/#en/cs/{{term.text_en}}">Google Translate</a>
                        &bull; <a href="https://www.google.com/search?q=define:{{term.text_en}}">define:</a>
                    {% endif %}
                </div>
                <div class="{% if not term.dialogue %}col-md-6{% endif %}">
                    {% if term.text_jp %}
                        <dl class="term-info term-info-jp {% if term.dialogue %}term-info-dialogue{% endif %}"">
                            <dt>Japonsky:</dt>
                                <dd id="dd-text-jp">{{ term.text_jp }}</dd>
                        </dl>
                        {% if not term.dialogue %}
                            <a href="http://jisho.org/search?utf8=%E2%9C%93&keyword={{ term.text_jp }}">jisho.org</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <ul>
                {% for outlink in term.category.link_outlinks %}
                    <li>
                        <a href="{{ outlink.filled_url(term) }}">
                            {{ outlink.label }}
                        </a>
                {% endfor %}
            </ul>
        </div>
    </div>

{% macro suggestion_controls(suggestion) %}
    <div class="controls">
        {% if current_user.is_authenticated %}
            <form method="POST" action="{{url_for('vote')}}" class="vote-form">
                {{ unrated_icon(suggestion) }}
                <input type="hidden" name="suggestion_id" value="{{ suggestion.id }}">
                <div class="btn-group">
                    {% macro vote_button(vote, icon) %}
                        <button type="submit" name="vote" value="{{ vote }}" class="btn btn-default {% if vote_from_for(current_user, suggestion).vote == vote %}active{% endif %}" id="suggestion-{{suggestion.id}}-vote-{{vote}}">
                            <span class="glyphicon glyphicon-{{icon}}"></span>
                        </button>
                    {% endmacro %}
                    
                    {{ vote_button(0, 'thumbs-down') }}
                    {{ vote_button(1, 'thumbs-up') }}
                    {% if not suggestion.term.dialogue %}
                        {{ vote_button(2, 'heart') }}
                    {% endif %}
                </div>
            </form>
            <form method="POST" action="{{url_for('suggestion')}}">
                <input type="hidden" name="suggestion_id" value="{{ suggestion.id }}">
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% macro vote_dropdown_button(action, text, icon) %}
                            <li>
                                <button type="submit" name="action" value="{{action}}" class="btn btn-default btn-block btn-xs">
                                    {% if icon %}
                                        <span class="glyphicon glyphicon-{{icon}}"></span>
                                    {% endif %}
                                    {{ text }}
                                </button>
                        {% endmacro %}
                        <li>{{ ago(suggestion.created) }}
                        <li>Stav: {{ suggestion.status }}
                        {#
                            <li>quality:
                                {% set quality = suggestion.quality %}
                                {% if quality != None %}
                                    {{ quality_badge(suggestion) }} {{ round(suggestion.quality*100) }}%
                                {% else %}
                                    -
                                {% endif %}
                        #}
                        {% if current_user.admin %}
                            <li>
                                <a href="{{url_for('suggestion.edit_view', id=suggestion.id)}}" class="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Upravit
                                </a>
                            </li>
                        {% endif %}
                        {% if suggestion.status == "approved"
                            and suggestion.user == current_user
                            and suggestion.score == 0 %}
                            {{ vote_dropdown_button('withdraw', "Vzít zpět") }}
                        {% endif %}
                        {% if current_user.admin %}
                            {% if suggestion.status in ("approved", "candidate") %}
                                {{ vote_dropdown_button('finalize', "Zfinalizovat", "ok-sign") }}
                            {% endif %}
                            {% if suggestion.status == "approved" %}
                                {{ vote_dropdown_button('candidate', "Zkandidovat", "record") }}
                            {% endif %}
                            {% if suggestion.status != "approved" %}
                                {% if suggestion.status == "final" %}
                                    {{ vote_dropdown_button('approve', "Odfinalizovat", "ok") }}
                                {% elif suggestion.status == "candidate" %}
                                    {{ vote_dropdown_button('approve', "Odkandinovat", "ok") }}
                                {% else %}
                                    {{ vote_dropdown_button('approve', "Svolit", "ok") }}
                                {% endif %}
                            {% endif %}
                            {% if suggestion.status != "hidden" %}
                                {{ vote_dropdown_button('hide', "Skrýt") }}
                            {% endif %}
                            {% if suggestion.status != "deleted" %}
                                {{ vote_dropdown_button('delete', "Smazat", "remove") }}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </form>
        {% endif %}
        <div class="conflicts">
            {% for conflict in suggestion.conflicts %}
                <a href="{{conflict.url}}" data-toggle="tooltip" data-placement="bottom" title="{{conflict.term.category.name}}: {{conflict.term.text_en}}">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
    {% if term.locked %}
        <div class="locked-info">
            <span class="glyphicon glyphicon-lock locked-icon"></span>
            <h3>Termín je zamčený</h3>
            <div class="locked-text">
                {% if term.lock_reason %}
                    {{ term.lock_reason | urlize | markdown }}
                {% endif %}
            </div>
            {% if current_user.admin %}
                <form method="POST">
                    <input type="hidden" name="action" value="unlock">
                    <button type="submit" class="btn btn-default btn-sm">
                        Odemknout
                    </button>
                </form>
                <button class="btn btn-default btn-xs"
                  id="unlock-button" style="margin-top: 8px;">
                      Mě to nezajímá, já jsem admin
                </button>
            {% endif %}
        </div>
    {% endif %}

    {% if (not term.locked) or current_user.admin %}
        <div class="row term-suggestions-dialogue {%if term.locked%}locked-contents{%endif%}">
            <div class="{% if not term.dialogue %} col-md-6
                {% else %} col-md-9
                {% endif %}">
                <h3>
                    {% if not term.dialogue %}
                        Návrhy
                    {% else %}
                        Revize
                        <button class="btn btn-default btn-sm"
                          id="new-revision-button">
                              Nová revize
                        </button>
                    {% endif %}
                </h3>
                {% if term.dialogue %}
                    <div class="panel panel-default new-revision-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Přidat revizi
                                {% if term.latest_revision.revision %}
                                    #{{term.latest_revision.revision + 1}}
                                {% else %}
                                    #1
                                {% endif %}</h3>
                        </div>
                        <div class="panel-body">
                            {% if suggestion_form %}
                                <form method="POST" class="new-revision-form">
                                    <dl>
                                        <dt>Text:</dt>
                                            <dd>{{suggestion_form.text}}</dd>
                                    </dl>
                                    {{suggestion_form.submit}}
                                </form>
                            {% else %}
                                <p>Pro přidávání návrhů je potřeba se <a href="{{url_for('login')}}">přihlásit</a>.
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <ul class="list-group list-suggestions">
                    {% for suggestion, score in term.suggestions_w_score %}
                        <li class="list-group-item suggestion-{{ suggestion.status }}">
                            {{ suggestion_controls(suggestion) }}
                            {% if suggestion.status in ("candidate", "final") %}
                                <div class="suggestion-status">
                                    <span class="badge badge-status-{{suggestion.status}}">
                                        {{ {"candidate": "kandidát",
                                            "final": "finální"}[suggestion.status] }}
                                    </span>
                                </div>
                            {% endif %}
                            <h4 class="list-group-item-heading suggestion-text">
                                <span class="badge badge-negative">{{ suggestion.negative_score }}</span><!--
                                --><span class="badge badge-positive">{{ score or 0 }}</span>
                                {% if not term.dialogue %}
                                    <strong>{{ suggestion.text }}</strong>
                                {% else %}
                                    <strong>Revize #{{ suggestion.revision or "?" }}</strong>
                                        {% if not loop.last %}
                                            <button class="btn btn-default btn-xs button-diff" data-suggestion-id="{{suggestion.id}}">diff</button>
                                        {% endif %}
                                         — {{ suggestion.user }}
                                    <div class="dialogue-suggestion-text" id="suggestion-{{suggestion.id}}-text">
                                        {{- suggestion.text | replace("*", "
                                            <span class=\"glyphicon placeholder\">*</span>
                                        ".strip()|safe) -}}
                                    </div>
                                    {% if loop.nextitem %}
                                        <div class=" diff dialogue-suggestion-diff" id="suggestion-{{suggestion.id}}-diff">
                                            {{ "<br>".join(diffhtml.ndiff(loop.nextitem[0].text.splitlines(), suggestion.text.splitlines(), cutoff=0.1)) | safe }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </h4>
                            {% if not term.dialogue %}
                                <p class="list-group-item-text">
                                    {{ suggestion.description }}
                                    <span class="suggestion-user">
                                        {% if suggestion.user %}
                                            — {{ suggestion.user }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </span>
                                </p>
                            {% endif %}
                            
                        </li>
                    {% else %}
                        <p>Žádné návrhy na překlad ještě nejsou...
                    {% endfor %}
                </ul>
                {% if not term.dialogue %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Přidat návrh</h3>
                        </div>
                        <div class="panel-body">
                            {% if suggestion_form %}
                                <form method="POST">
                                    <dl>
                                        <dt>Text:</dt>
                                            <dd>{{suggestion_form.text}}</dd>
                                        <dt>Vysvětlivka:</dt>
                                            <dd>{{suggestion_form.description}}</dd>
                                    </dl>
                                    {{suggestion_form.submit}}
                                </form>
                            {% else %}
                                <p>Pro přidávání návrhů je potřeba se <a href="{{url_for('login')}}">přihlásit</a>.
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="{% if not term.dialogue %} col-md-6
                {% else %} col-md-3
                {% endif %}">
                <h3>Komentáře</h3>
                <div class="comments">
                    {% for comment in comments %}
                        <div class="panel panel-default">
                            <div class="panel-body" title="{{ datetime(comment.created) }}">
                                {% if comment.created %}
                                    <div class="comment-datetime">
                                        {{ ago(comment.created) }}
                                        {% if current_user.admin %}
                                            <a href="{{url_for('comment.edit_view', id=comment.id)}}" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if comment.user %}
                                    <strong>{{ comment.user.username }}</strong>:
                                {% endif %}
                                {{ comment.text | urlize | markdown }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Přidat komentář</h3>
                    </div>
                    <div class="panel-body">
                        {% if comment_form %}
                            <form method="POST" class="comment-form">
                                {{comment_form.comment_text}}
                                {{comment_form.submit}}
                            </form>
                            <p>V komentářích jde používat <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>.
                            <p>Odkaz se dělá <tt>[takto](http://example.com)</tt>.  Nový odstavec uděláte dvojitým odřádkováním.
                        {% else %}
                            <p>Pro přidávání komentářů je potřeba se <a href="{{url_for('login')}}">přihlásit</a>.
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
    
{% endblock %}
